{% extends 'admin/change_form.html' %}
{% load i18n admin_urls %}

{# Example of extending object-tools-items #}

{% block submit_buttons_bottom %}

    <ul class="object-tools">
        <div class="submit-row">
            <a href="{{ absolute_url }}" class="btn btn-lg btn-success">Open in Report Explorer</a>
             <a href="/admin/flow/flowteamwave/?hide__exact=0&name__name__exact={{ original.name }}" class="btn btn-lg btn-success">Waves in {{ original.name }}</a>
             <a href="/admin/flow/flowteamtasksummary/?name__name__exact={{ original.name }}" class="btn btn-lg btn-success">Tasks in {{ original.name }}</a>
        </div>
    </ul>

    {{ block.super }}
{% endblock %}
