{% extends "admin/base.html" %}
{% load i18n static %}

{% block extrahead %}
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}" sizes="48x48" />

    <script src="{% static 'explorer/js/jquery.min.js' %}"></script>
    <script src="{% static 'explorer/js/jquery.cookie.min.js' %}"></script>

    <script src="{% static 'explorer/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'explorer/js/explorer.js' %}"></script>
    <script type="text/javascript">
        queryId = "{% firstof query.id 'new' %}";
    </script>
    {% include 'session_security/all.html' %}
{% endblock %}

{% block branding %}
<div >
    <h1 id="site-name" >
        <a href="{% url 'admin:index' %}">
            {{ site_header|default:_('FLOW MANAGEMENT') }}
            <span class="header-label">{% trans 'INSIGHT' %}</span></a>
    </h1>
</div>
{% endblock %}

{% block usertools %}
{% block sql_explorer_navbar %}
  <a class="navbar-brand" href="{% url 'explorer_index' %}">{% trans "Report Explorer" %}</a>
  <ul class="nav navbar-nav">
    {% block sql_explorer_navlinks %}{% endblock %}
  </ul>
{% endblock %}

  <div id="user-tools" class="suit-user-tools">
    <p>
      <a href="//flowms.ai">
         <img src="{% static 'flowms/flowms.png' %}" alt="flowms image" height=50 /> </a>
    </p>
  </div>
{% endblock %}


{% block extrastyle %}
  <link rel="stylesheet" href="{% static 'explorer/css/codemirror.min.css' %}" />
  <link rel="stylesheet" href="{% static 'explorer/css/pivot.min.css' %}" />
  <link rel="stylesheet" href="{% static 'explorer/css/bootstrap.min.css' %}" />
  <link rel="stylesheet" href="{% static 'explorer/css/explorer.css' %}" />
  <link rel="stylesheet" href="{% static 'suit/css/suit.css' %}" />
  {{ block.super }}
{% endblock %}

{% block title %}
  {% trans "SQL Explorer" %}{% if query %} - {{ query.title }}{% elif title %} - {{ title }}{% endif %}
{% endblock %}




{% block content %}
  {% block sql_explorer_content_takeover %}
    <div id="wrap" class="wrap">
        <div class="container">
          <div class="starter-template">
          {% block sql_explorer_content %}{% endblock %}
          </div>
        </div>
    </div>
  {% endblock %}

  {% block sql_explorer_footer %}
  {% endblock %}

{% block sql_explorer_scripts %}{% endblock %}
    <script src="{% static 'explorer/js/underscore-min.js' %}"></script>
    <script src="{% static 'explorer/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'explorer/js/list.min.js' %}"></script>
    <script src="{% static 'explorer/js/codemirror.min.js' %}"></script>
    <script src="{% static 'explorer/js/sql.min.js' %}"></script>
    <script src="{% static 'explorer/js/comment.min.js' %}"></script>
    <script src="{% static 'explorer/js/jquery.floatThead.min.js' %}"></script>
    <script src="{% static 'explorer/js/pivot.min.js' %}"></script>
{% endblock %}

{% block nav-global %}
{% endblock %}

{% block breadcrumbs %}
{% endblock %}
