{% extends "explorer/query.html" %}
{% load i18n explorer_tags static %}

{% block usertools %}
  <div style="height: 10px; width: 500px; left: 50%; line-height: 0px; position: fixed; margin-left: -250px; text-align: center; color: #f1f1f1; font-size:32px">
    <a href="javascript:window.history.back();">{{ query.title }}</a>
  </div>

  <div id="user-tools" class="suit-user-tools">
    <p>
      <a href="//flowms.ai">
         <img src="{% static 'flowms/flowms.png' %}" alt="flowms image" height=50 /> </a>
    </p>
  </div>
{% endblock %}


{% block content %}
{% block sql_explorer_content %}{% endblock %}
<div hidden>This div is hidden
<div class="panel-content">
    <textarea class="form-control" {% if not can_change %} disabled {% endif %} cols="40" id="id_sql" name="sql" rows="20">{{ form.sql.value|default_if_none:"" }}</textarea>
</div>
</div>
{% if params %}
  {% include 'explorer/params.html' %}
              <input type="submit" value="{% trans 'Refresh' %}" class="btn btn-default" id="refresh_button" />
{% endif %}
{% include 'explorer/preview_pane.html' %}
<div class="row">
  <div class="col-md-6 text-left">
    <small>
      {% if query.avg_duration %}
        Avg. execution: {{ query.avg_duration|floatformat:2 }}ms. Query created by {{ form.created_by_user_email }} on {{ form.created_at_time }}.
      {% endif %}
    </small>
  </div>
</div>
{{block.super}}
  {% block sql_explorer_content_takeover %}{% endblock %}
{% endblock %}
